#root > div, #root > div > div > div.col-sm-12.col-md-10.col-lg-10.col-xl-10.col-xxl-10.d-flex.justify-content-center.align-items-center {
  padding: 15px;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 100%;
}

.bmi-form {
  margin: 20px auto;
  max-width: 400px;
  text-align: left;
}

form button {
  margin: 10px 0px;
}

.form-group {
  margin: 20px 0px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.bmi-result {
  margin-top: 20px;
  font-size: 18px;
  background-color: green;
}

@media (min-width: 576px) and (max-width: 799px) {
  .App {
    width: 70%;
  }
}

@media (min-width: 800px) {
  .App {
    width: 440px;
  }
}