#root > div > div > div.col-sm-12.col-md-10.col-lg-10.col-xl-10.col-xxl-10.d-flex.flex-column.justify-content-center.align-items-center > div > form {
  max-width: 100%;
  width: 100%;
}

.form-group {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.form-group label {
  margin-right: auto;
  flex: 1;
}

#root > div > div > div.col-sm-12.col-md-10.col-lg-10.col-xl-10.col-xxl-10.d-flex.flex-column.justify-content-center.align-items-center > div > form > div > input {
  box-sizing: border-box;
  flex: 1;
  /* margin: calc(100% - 20px); */
}

#root > div > div > div.col-sm-12.col-md-10.col-lg-10.col-xl-10.col-xxl-10.d-flex.flex-column.justify-content-center.align-items-center > div > form > div.d-flex.flex-wrap.justify-content-between.align-items-center > button.btn.btn-warning {
  margin-left: 10px;
  padding: 10px;
}

#root > div > div > div.col-sm-12.col-md-10.col-lg-10.col-xl-10.col-xxl-10.d-flex.flex-column.justify-content-center.align-items-center > div > form > div.d-flex.flex-wrap.justify-content-between.align-items-center > button.btn.btn-primary {
  margin-right: 10px;
  padding: 10px;
}

@media (min-width: 576px) {
  /* CSS rules for Medium screens */
  .bmi-form {
    max-width: 70%;
  }
}
