.bmi-indicator-container {
  position: relative;
  width: 100%;
  margin: 50px auto 20px;
  text-align: center;
}

.bmi-indicator {
  position: absolute;
  top: -40px;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.bmi-indicator::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  /* left: 50%: This places the left edge of the ::after element at the halfway point of the parent element (.bmi-indicator). */
  transform: translateX(-50%);
  /* transform: translateX(-50%): This shifts the ::after element further to the left by 50% of its width. */
  width: 0;
  height: 0;
  border-top: 6px solid #007bff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.bmi-categories {
  display: flex;
  justify-content: space-between;
}

.category {
  flex: 1;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}

.underweight {
  /* background: linear-gradient(to bottom right, rgb(45, 82, 204), rgb(27, 190, 100)); */
  background: linear-gradient(90deg, rgb(45, 82, 204), rgb(27, 190, 100));
  border-right: 1px solid black;
}

.healthy {
  background: linear-gradient(90deg, rgb(27, 190, 100), rgb(223, 202, 13));
  border-right: 1px solid black;
}

.overweight {
  background: linear-gradient(90deg, rgb(223, 202, 13), rgb(226, 162, 23));
  border-right: 1px solid black;
}

.obese {
  background: linear-gradient(90deg, rgb(226, 162, 23), rgb(216, 61, 41));
}

.indicator-container {
  position: relative;
  height: 20px;
  background-color: rgba(221, 71, 226, 0.2);
  backdrop-filter: blur(100px);
  margin-top: 10px;
}

@media (max-width: 575px) {
  /* CSS rules for Extra Small screens */
  .underweight,
  .healthy,
  .overweight,
  .obese {
    font-size: 11px;
  }
}

@media (min-width: 576px) {
  /* CSS rules for Extra Small screens */
  .underweight,
  .healthy,
  .overweight,
  .obese {
    font-size: 14px;
  }
}

